<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/price.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class="main-pricing-div">
        <% allPricing.forEach(plan => { %>
            <div class="pricing-plan">
              <h3><%= plan.planName %></h3>
              <p><%= plan.description %></p>
              <ul>
                <% plan.features.forEach(feature => { %>
                  <li class="features-list" ><%= feature %></li>
                <% }) %>
              </ul>
              <div class="price-money"><p>Price: <h2 class="money">$<%= plan.price %></h2> per <%= plan.duration %></p></div>
              <div class="main-price-btn">
                <button class="price-btn">Choose a Plan</button>
              </div>
            </div>
          <% }) %>
   

    </div>
    <%- include('./partials/footer') %>
</body>
</html>